[build]
builder = "dockerfile"

[deploy]
healthcheckPath = "/health/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
startCommand = "python manage.py migrate_schemas --shared && python manage.py migrate_schemas && python manage.py setup_public_tenant && python manage.py create_superuser_if_needed && gunicorn gym_management.wsgi --bind 0.0.0.0:$PORT --workers 2 --log-file -"
